/*/ estilização para todas apginas /*/
a,span,h1,h2,h3,h4,h5,h6,body,section,footer,p,div,small{
    font-family:Montserrat;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*/ encerra estilizações para todas paginas /*/

/*/ vw cols /*/
@media (min-width:960px) {
.slick-list.draggable {
        width: 90vw;
}
.box_menu_mobile,
.box_logo_principal{
    display:none;
}
.col-lg-4 {
    padding: 0 1vw;
    flex: 0 0 29.5vw;
    max-width: 29.5vw;
}
.col-lg-3 {
    flex: 0 0 22.5vw;
    max-width: 22.5vw;
}
.col-lg-2 {
    flex: 0 0 15.5vw;
    max-width: 15.5vw;
}
.container {
    max-width: 90vw;
}
/*/ header /*/
#box_header li.account_signup a {
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border: 1px solid #83cd32;
}
#box_header {
    padding: 0.9vw 0;
    position: absolute;
    top: 0;
    width: 98.8vw;
    left: 0;
    z-index: 1;
}
#box_header .box_logo img {
    width: 9.21vw;
}
#box_header ul.box_listagem li a {
    color: #84919c;
    text-decoration: none;
    font-size: 1vw;
    transition:all 0.3s ease-out;
}
#box_header ul.box_listagem li a:hover {
    color: #2c3e50;
}
#box_header ul.box_listagem_account li a{
    color: #84919c;
    text-decoration: none;
    font-size: 1vw;
    transition:all 0.3s ease-out;
}
#box_header li.account_signup a:hover {
    background: #82cd32;
    color: #fff;
}
#box_header li.account_login a:hover {
    color: #82cd32;
}
#box_header .row {
    justify-content: space-between;
    align-items:center;
}
#box_header .container {
    max-width: 100vw;
    padding: 0 3vw;
}
#box_header .box_listagem_account li,
#box_header .box_listagem li {
    display: inline-block;
    padding: 0 1vw;
}

/*/ section /*/

#section_full{
    position:relative;
}
#section_full .bg_full img {
    max-width: 100%;
}
#section_full .bg_full {
    background: #f9fcff;
    text-align: center;
}
#section_full .center_text_full {
    position: absolute;
    top: 30%;
    width: 98.8vw;
}
#section_full .title_full.text-center span {
    font-size: 2.7vw;
    display: block;
    line-height: 3vw;
    font-weight: bold;
    color: #2c3e50;
}
#section_full .title_full.text-center small {
    display: block;
    font-size: 1.2vw;
    color: #9fa9b1;
    font-weight: 500;
    padding: 1.3vw 0 1.5vw 0;
}
#section_full .box_btn.text-center{
    padding-top: 1.8vw;
}
#section_full  span.btn_full a {
    color: #fff;
    padding: 1vw 2.5vw 1vw 2.5vw;
    background: #83cd32;
    font-size: 1.1vw;
    font-weight: 600;
    border-radius: 5px;
    text-decoration:none;
}
#section_full span.text_btn a {
    color: #82cd32;
    text-decoration: underline;
}
/*/ corpo /*/
#corpo {
    padding-top: 7vw;
}
#corpo span.text_colum{
    display:block;
    padding-top: 1.5vw;
    font-size: 1vw;
}
#corpo .rows_colun_icons {
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
}
#corpo .colum_box{
    padding:0;
}
#corpo .box_col_colum {
    transition:all 0.3s ease-out;
    background: #fff;
    padding: 3vw 0px 1vw 0;
    margin: 0 1vw;
    height: 13vw;
    box-shadow: 0px 0px 40px 8px #f0f8ff;
}
#corpo .box_col_colum:hover {
    transform: scale(1.1);
}
.box_install {
    width: 100vw;
}
#corpo .box_col_colum img {
    width: 4.72vw;
}
#corpo .box_install .box_install_flexed {
    display: flex;
    justify-content: center;
    text-align: center;
}
#corpo .box_install h1.title_box_install {
    text-align: center;
    margin: 6.5vw 0 5vw 0;
    font-size: 2.1vw;
    color: #2c3e50;
    font-weight: 600;
}
#corpo .box_install strong.box_text_primary {
    display: block;
    padding: 3vw 0 0.6vw;
    color: #2c3e50;
    font-weight: 600;
    font-size: 1.13vw;
}
#corpo .box_install span.text_inst {
    color: #808b96;
    font-size: 1vw;
    display: block;
    line-height: 1.8vw;
}
#corpo .box_install .box_inst img {
    width: 9.8vw;
}
/*/ box info /*/

#corpo .info .box_info .box_inst.float_left {
    width: 31.2vw;
    position: absolute;
    top: 40%;
}
#corpo .info .box_info .box_info_img img {
    max-width: 100%;
    width: 100%;
}
#corpo .info .box_info {
    position: relative;
    padding-top: 6vw;
    width: 90vw;
}
#corpo .info .box_info .box_info_img {
    width: 99.4vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
#corpo .info .box_info span.title_info {
    font-weight: 600;
    font-size: 1.6vw;
    color: #2c3e50;
    padding-bottom: 1vw;
    display: block;
}
#corpo .info .box_info small {
    display: block;
    color: #808b96;
    font-size: 1.1vw;
    padding-bottom: 1vw;
}
#corpo .info  .box_info strong.strong_icon {
    font-size: 1vw;
    padding: 0.3vw 0;
    display: block;
    color: #2c3e50;
    font-weight: 600;
}
#corpo .info .box_info a.link_info {
    color: #1dabf2;
    font-size: 1.1vw;
    font-weight: 700;
    margin-top: 4vw;
    display:table;
}

/*/ box statics /*/

#corpo .box_statics{
    position:relative;
    padding-top: 7vw;
    width: 90vw;
}
#corpo .info .box_statics .box_static.float_right {
    width: 31.2vw;
    position: absolute;
    top: 25%;
    right:0;
}
#corpo .info .box_statics .box_static_img img {
    max-width: 100%;
    width: 49.9vw;
}
#corpo .info .box_statics .box_static_img {
    width: 99.4vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
#corpo .info .box_statics span.title_static {
    font-weight: 600;
    font-size: 1.6vw;
    color: #2c3e50;
    padding-bottom: 1vw;
    display: block;
}
#corpo .info .box_statics .box_static small {
    display: block;
    color: #808b96;
    font-size: 1.1vw;
    padding-bottom: 1vw;
}
#corpo .info .box_statics strong.strong_icon {
    font-size: 1vw;
    padding: 0.3vw 0;
    display: block;
    color: #2c3e50;
    font-weight: 600;
}
#corpo .info .box_statics a.link_static {
    color: #f3b109;
    font-size: 1.1vw;
    font-weight: 700;
    margin-top: 4vw;
    display:table;
}

/*/ box inpt/*/

#corpo .exception_container .box_inpt .box_static_img {
    width: 99.4vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
#corpo .exception_container .box_inpt span.title_inpt {
    font-weight: 600;
    font-size: 1.6vw;
    color: #2c3e50;
    padding-bottom: 1vw;
    display: block;
}
#corpo .exception_container .box_inpt small {
    display: block;
    color: #808b96;
    font-size: 1.1vw;
    padding-bottom: 1vw;
}
#corpo .exception_container .box_inpt strong.strong_icon {
    font-size: 1vw;
    padding: 0.3vw 0;
    display: block;
    color: #2c3e50;
    font-weight: 600;
}
#corpo .exception_container .box_inpt a.link_inpt {
    color: #45d68b;
    font-size: 1.1vw;
    font-weight: 700;
    margin-top: 4vw;
    display:table;
}
#corpo .exception_container {
    background: #f9fdff;
    overflow: hidden;
}
#corpo .exception_container .box_inpt {
    padding: 6vh 0;
    overflow: hidden;
}
#corpo .exception_container .box_text_inpt {
    padding-top: 5.5vw;
    width: 31.2vw;
}
#corpo .exception_container .box_inpt .img_right img {
    height: 67.96vh;
}

/*/ footer-initial /*/
#footer_primary{
    position: relative;
}
#footer_primary .background_footer {
    width: 99.4vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
#footer_primary .background_footer img {
    width: 100%;
    max-width: 100%;
}
#footer_primary .box_text_footer {
    width: 88vw;
    text-align: center;
    padding-top: 7vw;
}
#footer_primary .box_text_footer h1.primary_text {
    color: #fff;
    font-weight: 600;
    font-size: 2.3vw;
    margin: 0 0 0.5vw 0;
}
#footer_primary .box_text_footer span {
    color: #919397;
    font-size: 1.1vw;
    padding-top: 0.6vw;
    display: block;
}
#footer_primary .first_parent_fotter {
    margin: 0 auto;
    width: 32vw;
}
#footer_primary .wrap_content_absolut {
    position: absolute;
}
#footer_primary ul.wrap_brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer_primary .box_brand_footer {
    padding-top: 8vw;
}
#footer_primary ul.wrap_brand li img {
    height: 4vh;
    display: table;
    filter: invert(50%);
    margin:0 auto;
}

/*/ news_letter /*/

#footer_primary .wrap_content_news {
    width: 50vw;
    margin: 0 auto;
    background: #fff;
    padding: 4vw 0 2vw 0;
    box-shadow: 0vw 0vw 2vw -0.2vw #00000038;
    border-radius: 0.3vw;
}
#footer_primary .wrap_news {
    text-align: center;
}
#footer_primary .new_letter_footer {
    padding-top: 7vw;
}
#footer_primary .form-group input#input_news_letter {
    border: 0.5px solid #d8effb;
    padding: 0.8vw 1vw;
    width: 28vw;
    background: #edf5f9;
    border-radius: 0.3vw;
    border-top-right-radius: 0;
    border-right: 0;
    border-bottom-right-radius: 0;
    font-size: 1vw;
    outline: none;
}
#footer_primary button.btn_news_letter {
    font-size: 1.1vw;
    border: 0;
    width: 10vw;
    padding: 0.9vw 0;
    background: #83cd32;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}
#footer_primary .wrap_content_news .form-group {
    justify-content: center;
    margin: 2vw 0 0 0;
    display: flex;
}
#footer_primary .wrap_content_news small {
    font-size: 1.2vw;
    color: #808b96;
    font-weight: 500;
    display: block;
}
#footer_primary .wrap_content_news h1.title_news_letter {
    font-size: 2.3vw;
    font-weight: 600;
    margin-bottom: 0.5vw;
}
span.link_news_letter {
    display: block;
    padding: 2vw 0 1vw 0vw;
}
span.link_news_letter a {
    color: #82cd32;
    text-decoration: underline;
    font-size: 1.1vw;
    font-weight: 500;
    display: table;
    width: 10vw;
    margin: 0 auto;
}

/*/ footer_end /*/

#footer_end {
    padding: 10vw 0 5vw 0;
}
#footer_end .wrap_footer {
    padding: 0 1vw;
}
#footer_end  .box_footer_contact li a {
    text-decoration: none;
}
#footer_end .box_footer_end {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: baseline;
}
#footer_end .logo_footer {
    padding-bottom: 1.5vw;
    display:table;
}
#footer_end .logo_footer img {
    width: 9.23vw;
    display: table;
}
#footer_end p.txt_about {
    color: #808b96;
    font-size: 1vw;
    margin: 0;
    padding-bottom: 2vw;
}
#footer_end span.copy_footer {
    font-size: 0.9vw;
    display: table;
}
#footer_end li.calback_footer {
    font-size: 1vw;
}
#footer_end h1.title_footer {
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.02vw;
    color: #2c3e50;
    margin-bottom: 1.6vw;
}
#footer_end ul.box_footer li a {
    margin: 1vw 0;
    color: #808b96;
    text-decoration: none;
    display: table;
    font-size: 1vw;
    transition: all 0.3s;
}
#footer_end ul.box_footer li a:hover {
    padding-left: 0.6vw;
}
#footer_end li.number_footer a {
    font-weight: 600;
    color: #808b96;
    font-size: 1.1vw;
    letter-spacing: 0.09vw;
}
#footer_end ul.box_footer_contact li {
    margin: 1vw 0;
}
#footer_end li.mail_footer a {
    font-size: 1.1vw;
    color: #83cd32;
    font-weight: 500;
}
#footer_end ul.box_socials_footer {
    display: flex;
    justify-content: flex-start;
    padding: 1.5vw 0;
}
#footer_end ul.box_socials_footer i {
    color: #bfc5ca;
    font-size: 1.3vw;
    transition: all 0.3s ease-out;
    display: table;
}
#footer_end ul.box_socials_footer i:hover {
    color: #83cd32;
}
#footer_end ul.box_socials_footer li {
    margin: 0 2vw 0 0;
}
#footer_end ul.box_footer_contact li a {
    display: table;
}

/*//////       incons parcial !   before and after /////*/

#corpo .info .box_info a.link_info:after {
    content: "";
    background:url("../img/iconblue4.png") center right no-repeat;;
    padding-left: 2vw;
    background-size: 1.2vw;
    vertical-align: middle;
}
.box_static a.link_static:after {
    content: "";
    background:url("../img/iconyellow3.png") center right no-repeat;;
    padding-left: 2vw;
    background-size: 1.2vw;
    vertical-align: middle;
}
.box_inpt a.link_inpt:after {
    content: "";
    background:url("../img/icongreen1.png") center right no-repeat;;
    padding-left: 2vw;
    background-size: 1.2vw;
    vertical-align: middle;
}
} /*/ encerra media min-width/desktop /*/

@media (max-width:959px){
    .background_footer{
        display:none;
    }
    .container{
        max-width: 100% !important;
    }
    .box_logo{
        display:none;
    }
    .row {
        width: 100%;
        margin: 0;
    }
    ul li a {
        text-decoration: none;
    }
    
    #section_full .bg_full img,
    .exception_container .box_inpt .img_right img,
    .info .box_static_img img,
    .info,
    #corpo .info .box_info_img img,
    #corpo .rows_colun_icons,
    #footer_primary .background_footer img,
    .wrap_content_absolut {
        width: 100%;
    }
    
    #corpo .rows_colun_icons .box_col_colum,
    #footer_primary {
        text-align: center;
    }
    #corpo .rows_colun_icons .box_col_colum span.text_colum {
        display:block;
        padding: 12px 0;
        color: #808b96;
    }
    #section_full {
        padding-top: 54px;
        position:relative;
    }
    #section_full .title_full.text-center {
        margin: 0 4%;
    }
    #section_full .center_text_full {
        position: absolute;
        top: 35%;
        width: 100%;
    }
    #section_full .center_text_full span {
        display: block;
        font-size: 20px;
        line-height: 25px;
        font-weight: bold;
        color: #2c3e50;
    }
    #section_full span.btn_full a {
        color: #fff;
        padding: 8px 13px 8px 13px;
        background: #e94d43;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        text-decoration: none;
    }
    #section_full .box_btn.text-center {
        padding: 12px 0;
    }
    #corpo .box_install {
        padding-top: 45px;
        text-align: center;
        width: 100%;
    }
    #corpo .box_install .box_install_flexed span.text_inst {
        color: #808b96;
        font-size: 14px;
        display: block;
    }
    #corpo .box_install .box_install_flexed strong.box_text_primary {
        margin: 10px 0;
        display: block;
        color: #2c3e50;
        font-weight: 600;
        font-size: 16px;
    }
    #corpo .box_install h1.title_box_install {
        margin: 15px 0 30px 0;
        text-align: center;
        font-size: 20px;
        color: #2c3e50;
        font-weight: 600;
    }
    #corpo .box_install .colum_box_inst {
        margin: 0 0 40px 0;
    }
    #corpo .box_info {
        padding: 30px 0 45px 0;
    }
    #corpo .rows_colun_icons {
        padding: 34px 0 0 0;
    }
    #corpo .rows_colun_icons .box_col_colum {
        margin: 15px auto;
        width: 85%;
        box-shadow: 0px 0px 40px 8px #f0f8ff;
        padding: 30px 5px 30px 5px;
    }
    .exception_container .box_inpt .box_text_inpt small,
    #corpo .box_info small,
    #corpo .box_statics small{
        display: block;
        color: #808b96;
        font-size: 14px;
        margin: 15px 0;
    }
    .exception_container .box_inpt .box_text_inpt strong.strong_icon,
    #corpo .box_info strong.strong_icon,
    #corpo .box_statics strong.strong_icon{
        display: block;
        color: #2c3e50;
        font-weight: 600;
        font-size: 15px;
    }
    .exception_container .box_inpt .box_text_inpt span.title_inpt,
    .info .box_static span.title_static,
    .info .box_inst span.title_info {
        font-weight: 600;
        color: #2c3e50;
        display: block;
        font-size: 16px;
        margin: 12px 0;
    }
    .exception_container .box_inpt .box_text_inpt a.link_inpt,
    .box_info a.link_info,
    .box_statics a.link_static{
        margin: 15px 0;
        color: #e94d43;
        font-weight: 700;
        display: table;
        font-size: 14px;
    }
    .exception_container {
        padding: 60px 0;
    }    
    .new_letter_footer {
        padding: 40px 0 0 0;
    }
    .new_letter_footer h1.title_news_letter {
        font-size: 19px;
        margin: 0;
    }
    .new_letter_footer small {
        color: #808b96;
        font-size: 15px;
        display: block;
        padding: 0 12px;
    }
    .new_letter_footer .form-group {
        margin: 12px 0 4px;
        display: flex;
        justify-content: center;
    }
    .new_letter_footer input#input_news_letter {
        border: 0.5px solid #d8effb;
        padding: 10px;
        background: #edf5f9;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-right: 0;
        border-bottom-right-radius: 0;
        font-size: 13px;
        outline: none;
        width: 65%;
    }
    .new_letter_footer button.btn_news_letter {
        font-size: 12px;
        border: 0;
        width: 25%;
        padding: 11px;
        background: #83cd32;
        border-radius: 5px;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        outline: none;
    }
    .new_letter_footer span.link_news_letter a {
        color: #82cd32;
        text-decoration: underline;
        font-size: 13px;
        font-weight: 500;
    }
    .new_letter_footer .wrap_content_news {
        border: 1px solid #eee;
        padding: 22px 0;
    }
    #footer_primary ul.wrap_brand li img {
        filter: invert(50%);
        margin:0 auto;
    }
    #footer_primary .box_background_mobile_footer {
        background: url('../img/bginitial.png')center center no-repeat;
        padding: 25px 0;
        background-size: cover
    }
    #footer_primary .box_text_footer h1.primary_text {
        margin: 0;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
    }
    #footer_primary .box_text_footer span {
        color: #919397;
        font-size: 13px;
        display: block;
        padding: 19px 10px 33px 10px;
    }
    #footer_end{
        text-align:center;
    }
    #footer_end .wrap_footer {
        padding: 0;
    }
    #footer_end .box_footer_end {
        padding: 50px 0 20px 0;
    }
    #footer_end .box_footer_end span.copy_footer {
        padding: 5px 0 38px;
        display: block;
        color: #808b96;
        font-size: 13px;
    }
    #footer_end .box_footer_end h1.title_footer {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        color: #2c3e50;
    }
    #footer_end ul.box_footer {
        margin-bottom: 30px;
    }
    #footer_end ul.box_socials_footer {
        justify-content: center;
        display: flex;
        padding-top: 10px;
    }
    
    #footer_end ul.box_socials_footer li {
        margin: 0 10px;
    }
    #footer_end .box_footer_end ul.box_footer a {
        color: #808b96;
        font-size: 15px;
    }
    #footer_end ul.box_footer_contact li.calback_footer {
        color: #808b96;
        font-size: 15px;
    }
    #footer_end ul.box_socials_footer .fab {
        color: #bfc5ca;
        font-size: 16px;
        transition: all 0.3s ease-out;
    }
    #footer_end ul.box_footer_contact .mail_footer a {
        font-size: 15px;
        color: #83cd32;
        font-weight: 500;
    }
    #footer_end ul.box_footer_contact .number_footer a {
        color: #808b96;
        font-size: 15px;
        font-weight: 600;
        margin: 14px 0 7px;
        display: block;
    }
    #footer_end .box_footer_about p.txt_about {
        color: #808b96;
        font-size: 15px;
        padding-top: 22px;
    }

    /*/ menu mobile /*/

    body.menu_Open #box_header {
        left: 0;
    }
    body.menu_Open .bg_close_mobile_menu {
        left: 0;
        visibility:visible;
        opacity:1;
    }
    .box_menu_mobile {
        position: fixed;
        background: #eee;
        width: 100%;
        z-index: 3;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    .box_menu_mobile .wrap_menu_mobile {
        display: flex;
        width: 100%;
    }
    
    .box_menu_mobile .box_bars_menu {
        flex: 1;
    }
    .box_menu_mobile .box_account_menu {
        flex: 1;
        text-align: right;
    }
    .box_menu_mobile .box_logo_principal {
        flex: 6;
        text-align: center;
    }

    .box_menu_mobile .box_bars_teste {
        flex: 1;
        text-align: center;
        padding-left: 10px;
    }
    .box_menu_mobile .wrap_menu_mobile i {
        color: #e94d44;
        font-size: 25px;
    }
    #box_header .box_ul_list {
        width: 100%;
    }
    #box_header .box_account {
        width: 100%;
        order: -1;
    }

    #box_header .box_account a,
    #box_header .box_ul_list a{
        color: #000;
        margin:5px 0;
        display:table;
    }
    #box_header .box_ul_list {
        padding: 30px 0 0px 0;
    }
    #box_header {
        z-index: 2;
        position: fixed;
        width: 85%;
        height: 100%;
        background: #eee;
        top: 49px;
        padding-top: 25px;
        left: -100%;
        transition: all 0.4s ease-out;
    }
    .bg_close_mobile_menu {
        visibility:hidden;
        opacity:0;
        position: fixed;
        height: 100%;
        width: 100%;
        background: #00000075;
        z-index: 1;
        transition: all 0.3s ease-out;
    }
    
    /*/ Icon Hamburguer  menu mobile /*/

    #icon_Menu.open {
        transition: all 0.4s;
    }
    #icon_Menu{
    transition: margin 0.5s, opacity 0.5s;
    width: 28px;
    height: 23px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1; 
    }

    #icon_Menu span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e94d44;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    #icon_Menu span:nth-child(1) {
    top: 3px;
    }

    #icon_Menu span:nth-child(2) {
    top: 12px;
    }
    #icon_Menu span:nth-child(3) {
    top: 21px;
    }
    #icon_Menu.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    #icon_Menu.open span:nth-child(2) {
    opacity: 0;
    left: 40px;
    }
    #icon_Menu.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }

} /*/ encerra media max-width/mobile/tablet /*/










